.App {
  height: 100vh;
  overflow-x: hidden;
}

.center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center-loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.back {
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 25px;
  height: 40px;
  width: 150px;
  padding: 5px;
  background-color: brown;
  border: 2px solid brown;
  transition: all 0.3s ease 0s;
  margin-top: 20px;
}

.back:hover {
  background-color: transparent;
  color: brown;
}
